*{
	background-color:#F9C7D1;
	font-family: Corbel;
}

html, body {
    max-width: 100% !important;
    #overflow-x: hidden !important;
}

#WebGL-output{
	margin: 0 4em;
	width: 33%;
}

#page-description{
	text-align: center;
}

#game-info{
	width: 20em;
	height: 1.3em;
	position: relative;
	float:left;
	vertical-align:middle;
}

#game-lives{
	width: 4em;
	height: 1.3em;
	position: relative;
	float: right;
	font-weight: bold;
	//color: AE1534;
}

#game-screen{
	margin-top: -1em;
	width: 100%;
	height: auto;
}

#toolbar{
  width: 9em;
  height: 2.5em;
  margin: 0em auto;
}

#button1{
  background-color:blue;
  cursor:pointer;
}

#button1:hover, #game-mode:hover{
  font-weight: 900;
}

#button2{
  background-color:red;
}

.button-toolbar{
  width: 5em;
  text-align: center;
  float: left;
  color: white;
}

#game-mode{
  width: 4em;
  text-align: center;
  float: left;
  color: white;
  background-color: orange;
  cursor:pointer;
}

#select-object{
  width: 4em;
  text-align: center;
  float: left;
  color: white;
  background-color: #9fcc90;
}

#instructions{
  text-align: center;
}

.line{
  background-color: #607D8B;
  margin-top: 1em;
  width: 100%;
  height: 0.1em;
}

#bt-play{
  width: 5em;
  height: 2em;
  text-align: center;
  background-color: red;
  color: white;
  margin: 0 auto;
  line-height: 2em;
  cursor:pointer;
}

#bt-play:hover{
  background-color: white;
  color: red;
  font-weight:bold;
}

.invisible{
  position:absolute;
//  top: -99999px;
  visibility: hidden;
}

.visible{
  position:relative;
  visibility: visible;
}

#log{
  margin: 0 auto;
  width: 11em;
  height: 1.3em;
}
